.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  /* background-color: #f1f1f1; */
  margin: 1.5rem;
}

.header__logo-image {
  width: 5rem;
  height: 5rem;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header__nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #000;

  &:hover {
    color: #3AA6B9;
  }

  &:active {
    color: #3AA6B9;
    font-weight: bold;
  }

  &:focus {
    color: #3AA6B9;
  }
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: #2997AA;
}

.footer__logo {
  width: 5rem;
  height: 5rem;
}

.footer__content {
  display: flex;
  height: 10rem;
}

.footer__link{
  text-decoration: none;
  color: #3AA6B9;
}